.box{
	margin-top: 5rpx;
	display: flex;
	justify-content: center;
	
}
.list-box,.list-box2{
	padding: 20rpx 50rpx;
	margin-top: 20rpx;
}
.item {
	display: flex;
	

	
	
}
.item-img{
		width: 100px;
		height: 100px;
		

}


.item2-box{
	display: flex;
	flex-wrap: wrap;
	
}
.item2{
		padding: 10rpx;
		margin: 10rpx;
		border: 1px solid rebeccapurple;
	}


		