.box{
	width: 750rpx;
}
.bfqb{
	width: 700rpx;
	padding: 20px;
}
.bf_li{
	width: 600rpx;
	padding: 10px;
	border-bottom: 1px solid darkgray;
	
}
.mingzi{
	margin-left: 30px;
	font-size: 14px;
}
.bf_li>view{
	vertical-align: middle;
	display: inline-block;
}

.tou{
	width: 40px;
	height: 40px;
}
.bf{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../../static/bifang.png');
	background-size: 30px 30px;
	float: right;
}
.zt{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../../static/zanting.png');
	background-size: 30px 30px;
	float: right;
}